<%- include('header') %>
<div class="box" id="heading">
    <h1> Your Lists </h1>
</div>
<div class="box">
    <% if(All_List) { %>
    <% All_List.forEach((list)=>{%>
        <form action="/deletelist" method="POST">
          <div class="item">
          <input type="checkbox" name ='checkbox' value ='<%=list._id%>' onchange = 'this.form.submit()' >
          
          <input type="hidden" name='listName' value ="<%=list.name%>" >
          <a href="/lists/<%=list.name%>"><p><%=  list.name  %></p></a>
        </div>  
        
      </form>
        <% }); %>
        <%}%>
  
        <form class="item" action="/lists" method="post">
          <input type="text" name="newListName" placeholder="New List" autocomplete="off" autofocus>
          <button class = 'new' type="submit" >+</button>
        </form>


</div>

<%- include('footer')%>